/nbproject/private/
/build/
/welcome/build/
/EditorTools/build/
/AntBasedProjectType/build/
/PSMLPrimitiveLayoutApp/build/
/FileType/build/
/PSMLSampleProject/build/
/FileType/nbproject/private/
/EditorTools/nbproject/private/
/AntBasedProjectType/nbproject/private/
/dist/